<h1>Posts#index</h1>

<form action="/posts/create" id="create_posts">
    <div class="container">
        <div class="form-group">
            <input type="text" name="title" placeholder="Título" class="form-control">
            <input type="text" name="image" placeholder="url imagen" class="form-control">
            <textarea name="content" cols="30" rows="10" class="form-control"></textarea>
        </div>
        <input type="submit" value="Crear Post" class="btn btn-primary">
    </div>
</form>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Title</th>
      <th scope="col">Image</th>
      <th scope="col">Content</th>
      <th scope="col">Created At</th>
    </tr>
  </thead>
  <tbody>
    <% @posts.each do |post| %>
    <tr>
      <th scope="row"><%= post.id %></th>
      <td><%= post.title %></td>
      <td><%= image_tag post.image, height: '80' %></td>
      <td><%= post.content %></td>
      <td><%= post.created_at %></td>
    </tr>
    <% end %>
  </tbody>
</table>
